<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Hello,<%= user ? user.profile.name : "Friend Welcome to Posts fors the people log in and Start posting" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
