<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/index.css">
<%- include('../partials/nav') %>

<h1>Welcome to Posts for the People</h1>

<ul>
  <% posts.forEach(post => { %>
    <li>
      <a href="/posts/<%= post._id %>"><%= post.name %></a> 
      <p><%= post.content %></p>
    </li>
  <% }); %>


<%- include('../partials/footer') %>